<div id="main-wrapper">

  <navigation></navigation>
  <sidebar></sidebar>
  <div class="page-wrapper">
    <div class="container-fluid">
      <div style="padding: 15px;"></div>
      <router-outlet></router-outlet>
    </div>
    <footer class="footer">
      © SLIIT CodeFest Hackthon - Innovation Geeks 2018
    </footer>
  </div>

</div>
