<!-- ============================================================== -->
<!-- Topbar header - style you can find in pages.scss -->
<!-- ============================================================== -->
<header class="topbar">
  <nav class="navbar top-navbar navbar-expand-md bg-dark">
    <!-- ============================================================== -->
    <!-- Logo -->
    <!-- ============================================================== -->
    <div class="navbar-header">
      <a class="navbar-brand" href="index.html" style="color: white;font-weight: bold">
        <!-- Logo icon -->
        <b>
          <!--You can put here icon as well -->
          <!-- Dark Logo icon -->
          Innovation GEEKS
        </b>
      </a>
    </div>
    <!-- ============================================================== -->
    <!-- End Logo -->
    <!-- ============================================================== -->
    <div class="navbar-collapse">
      <!-- ============================================================== -->
      <!-- toggle and nav items -->
      <!-- ============================================================== -->
      <!--<ul class="navbar-nav mr-auto mt-md-0">-->
        <!--&lt;!&ndash; This is  &ndash;&gt;-->
        <!--<li class="nav-item"><a class="nav-link nav-toggler hidden-md-up text-muted waves-effect waves-dark"-->
                                <!--href="javascript:void(0)"><i class="mdi mdi-menu"></i></a></li>-->
        <!--<li class="nav-item"><a class="nav-link sidebartoggler hidden-sm-down text-muted waves-effect waves-dark"-->
                                <!--href="javascript:void(0)"><i class="ti-menu"></i></a></li>-->
      <!--</ul>-->
    </div>
  </nav>
</header>
<!-- ============================================================== -->
<!-- End Topbar header -->
<!-- ============================================================== -->
