<!-- ============================================================== -->
<!-- Start Page Content -->
<!-- ============================================================== -->
<div class="row">

  <!-- column -->
  <div class="col-lg-12">
    <div class="card">
      <div class="card-body">
        <div id="chartContainer" style="height: 370px; width: 100%; margin-left:auto;margin-right:auto;"></div>
      </div>
    </div>
  </div>
  <!-- column -->

  <!-- Row -->
  <div class="col-md-6">
    <div class="card card-success">
      <div class="card-body">
        <h4 class="card-title">Step 1 Error's Per Second</h4>
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
               style="width:{{stepIResult.errorPercentage}}">
            {{stepIResult.errorPercentage}}%
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Row -->

  <!-- Row -->
  <div class="col-md-6">
    <div class="card card-dark">
      <div class="card-body">
        <h4 class="card-title">Step 2 Error's Per Second</h4>
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
               style="width:{{stepIIResult.errorPercentage}}">
            {{stepIIResult.errorPercentage}}%
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Row -->

  <!-- Row -->
  <div class="col-md-6">
    <div class="card card-primary">
      <div class="card-body">
        <h4 class="card-title">Step 3 Error's Per Second</h4>
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
               style="width:{{stepIIIResult.errorPercentage}};color: #00c292">
            {{stepIIIResult.errorPercentage}}%
          </div>
        </div>
      </div>
    </div>
  </div>
  <!-- Row -->

  <!-- Row -->
  <div class="col-md-6">
    <div class="card card-warning">
      <div class="card-body">
        <h4 class="card-title">Step 4 Error's Per Second</h4>
        <div class="progress">
          <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
               style="width:{{stepIVResult.errorPercentage}}">
            {{stepIVResult.errorPercentage}}%
          </div>
        </div>
      </div>
    </div>
  </div>
    <!-- Row -->

    <!-- Row -->
    <div class="col-md-12">
      <div class="card">
        <div class="card-body">
          <h4 class="card-title">Step 5 Error's Per Second</h4>
          <div class="progress">
            <div class="progress-bar bg-danger" role="progressbar" aria-valuenow="70" aria-valuemin="0" aria-valuemax="100"
                 style="width:{{stepVResult.errorPercentage}}">
              {{stepVResult.errorPercentage}}%
            </div>
          </div>
        </div>
      </div>
    </div>
    <!-- Row -->

  </div>
  <!-- ============================================================== -->
  <!-- End Page Content -->
  <!-- ============================================================== -->

